<section class="thirteen columns">
    <h1>References</h1>
	    <article>
        <header>
            <h1>Wenfeng Lu, Associate Professor</h1>
        <p>
            Department of Mechanical Engineering<br>
            National University of Singapore<br>
            +65 65161228, mpelwf@nus.edu.sg <br> 
        </p>
        </article>
        <article>
        <header>
            <h1>Yanju Liu, Professor</h1>
        <p>
            Department of Astronautical Science and Mechanics<br>
            Harbin Institute of Technology<br>
            +86 86414825, yj_liu@hit.edu.cn <br> 
        </p>
        </article>
		<article>
        <header>
            <h1>Wei Guan, Professor</h1>
        <p>
            Department of Astronautical Science and Mechanics<br>
            Harbin Institute of Technology<br>
            +86 15045632971, guanw@hit.edu.cn<br> 
        </p>
        </article>
</section>